@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
body{
    margin: 0;
    padding: 0;
    display: grid;
    background: url(images/bg-header-desktop.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 18px;
    width: 100%;
    height: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    box-sizing: border-box;
}
main{
    align-items: center;
    justify-content: center;
    text-align: center;
}
img{
    max-width: 100%;
}
header{
    margin-top: 50px;
}
button{
    width:180px;
    height: 40px;
    border-radius: 1.5rem;
}
button:hover{
    cursor: pointer;
}
.buttons{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 20px;
    margin-top: 40px;
}
#ios{
    background-color: hsl(171, 66%, 44%);
    border-color: hsl(171, 66%, 44%);
}

#ios:hover{
    transition: background-color 250ms linear;
    background-color: #26baa4;
    border-bottom: 3px solid #156659;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(38, 186, 164, 0.3);
    box-shadow: 0px 2px 5px 1px rgba(38, 186, 164, 0.3);


}
#mac{
    background-color: hsl(233, 100%, 69%);
    border-color: hsl(233, 100%, 69%);
}
#mac:hover{
    transition: background-color 250ms linear;
    background-color: #6173ff;
    border-bottom: 3px solid #001194;
    -webkit-box-shadow: 0px 2px 5px 1px rgba(97, 115, 255, 0.3);
    box-shadow: 0px 2px 5px 1px rgba(97, 115, 255, 0.3);
}
h1,h2,h3{
    color:hsl(210, 10%, 33%);
}
p{
    color: hsl(201, 11%, 66%);
    margin-top: -15px;
    line-height: 30px;
}
.second{
    display:grid;
    grid-auto-flow: column;
    text-align: left;
    align-items: left;
    justify-content: left;
    grid-gap:200px;
    margin-left: -100px;

}
.list{
    display: grid;
    grid-auto-flow: column;
    grid-gap:30px;
}
.list div h3{
    margin-top:20px;
}
.list,.second,#image{
    margin-top: 70px;
}
#access{
    margin-top: 120px;
}
.two{
    margin-top: 120px;
}
#supercharge{
    margin-top:20px;
}
.logos{
    display:grid;
    grid-auto-flow: column;
    grid-gap:150px;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}
.bottom{
    margin-top: 120px;
}
.icons{
    display: grid;
    grid-auto-flow: column;
    grid-gap:20px;
}
.icons svg{
    color:#4C545C;
}
.icons svg:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
a{
    text-decoration: none;
    color:hsl(210, 10%, 33%);
}
a:hover{
    color: hsl(171, 66%, 44%);
    cursor: pointer;
}
.links{
    display: grid;
    grid-auto-flow: row;
}
footer{
    background-color: hsla(202, 11%, 66%, 0.3);
    align-items: left;
    justify-content: left;
    margin-top: 150px;
}
.footer{
    display:grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
    grid-gap:200px;
    padding-top: 10px;
    padding-bottom: 20px;
}
table{
    border-spacing: 25px;
    text-align: left;
}
table td{
    padding-right: 100px;
}
#innertwo{
    width:50px;
    height:50px;
}