@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root{
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
}
*{
    font-family: "Manrope", sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    display: grid;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--Light-Grayish-Blue);
    font-size: 13px;
}
main{
    display: flex;
    background-color: white;
    border-radius: 0.5rem;
}
img{
    width: 100%;
    height: 100%;
}
.image img{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: 300px;
}
.right{
    padding-top: 10px;
    width: 400px;
}
.top{
    padding-left: 30px;
    padding-right: 30px;
}
h2,h4{
    color: var(--Very-Dark-Grayish-Blue);
    font-weight: 700;
}
p{
    color: var(--Desaturated-Dark-Blue);
    font-weight: 700;
}
.info{
    display: flex;
    align-items: center;
    justify-content: left;
    margin: auto;
    gap: 10px;
}
.second-image img{
    width: 40px;
    height: 40px;
    margin: auto;
    border-radius: 50%;
}
.bottom{
    margin-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom-right-radius: 0.5rem;
}
.socials{
    display: flex;
    gap: 15px;
    align-items: center;
}
.socials span{
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;
    letter-spacing: 5px;
}
.hide{
    display: none;
}
.info-data{
    display: grid;
    gap: -20px;
    margin-top: -20px;
}
.clicked{
    background-color: var(--Very-Dark-Grayish-Blue);
}
.info-data span{
    margin-top: -15px;
    color: var(--Desaturated-Dark-Blue);
    font-weight: 500;
}

.share{
    fill:#6E8098;
    border: none;
    background-color: var(--Light-Grayish-Blue);
    padding: 10px;
    border-radius: 100px;
}
.share-clicked{
    background-color: var(--Grayish-Blue);
    fill: var(--Light-Grayish-Blue);
}
.share:hover{
    cursor: pointer;
}
@media (max-width:750px) {
    main{
        flex-direction: column;
        width: 90vw;
    }
    .image img{
        width: 90vw;
        border-radius: none;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0;
    }
    .right{
        align-items: center;
        display: grid;
        justify-content: center;
        width: 90vw;
    }
    .bottom{
        border-bottom-left-radius: 0.5rem;
    }
}